
.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#body {
    background-color: #e3f2fd;
}

#footer1 {
    background: #1e558f;
}

#footer2 {
    background: #0094ff;
}
.Content2{
    padding-top: 80px;
}
